<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member: <%= member.fullName %></title>
</head>
<body>
  <h1><%= member.fullName %></h1>
  <h2>Messages</h2>
  <ul>
    <% if (messages.length === 0) { %>
      <li>This member has no messages</li>
    <% } else { messages.forEach((message) => { %>
      <li>
        <h3><%= message.title %></h2>
        <p><%= message.content %></p>
        <p><%= message.timestamp %></p>
      </li>
    <% })} %>
    </ul>
</body>
</html>