<%- include('head') -%>
<body>
  <%- include('header') -%>
  <% if(locals.permission) { %>
    <h2>Members</h2>
    <ul>
      <% member_list.forEach((member) => { %>
        <li>
          <a href="<%= member.url %>"><%= member.firstName %></a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>Only members may view this page.</p>
  <% } %>
</body>
<%- include('foot') -%>