<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Board</title>
</head>
<body>
  <%- include('nav') -%>
  <h1>Message Board</h1>
  <main>
    <% if (locals.currentUser && (locals.currentUser.membership === 'member' || locals.currentUser.membership === 'admin')) { %>
      <a href="/messages/new">Create a new Post</a>
    <% } %>
    <% messages.forEach((message) => { %>
      <div>
        <h2><%= message.title %></h2>
        <p><%= message.content %></p>
      <% if (locals.currentUser) { %>
        <% if (locals.currentUser.membership === 'member' || locals.currentUser.membership === 'admin') { %>
            <p><%= message.timestamp %></p>
            <p><%= message.author.fullName %></p>
      <% }} %>
      </div>
    <% }) %>
    </main>
</body>
</html>